.test {
  font-family: cursive;
  color: red;
  border: dashed red;
}

.event-title {
  font-family: fantasy;
  font-size: 2em;
}

.event-text{
  font-family: fantasy;
}

.event-options{
  /* border: dashed red; */
}

.event-option{
  font-family: fantasy;
  border: dashed darkgray;
}

.event-resolution {
  font-family: fantasy;
}
.event-option.col-sm-6 {}

.row {
  /* border: dashed green; */
}
