<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Gloume Ha Veune</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
    <link rel="stylesheet" href="css/gloom.css" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>

  <body class="container">
    <div id="app">
      <!-- input group -->
      <div class="row">
        <div class="input-group">
          <div class="input-group-prepend" id="button-addon3">
            <button
              class="btn btn-outline-secondary"
              type="button"
              v-on:click="selectRoad"
            >
              <i class="fas fa-road"></i>
            </button>
            <button
              class="btn btn-outline-secondary"
              type="button"
              v-on:click="selectCity"
            >
              <i class="fas fa-city"></i>
            </button>
            <span class="input-group-text"><i class="fas fa-sd-card"></i></span>
          </div>
          <textarea
            class="form-control"
            aria-label="With textarea"
            v-model="eventId"
          ></textarea>
        </div>
      </div>
      <!-- input group -->
      <!-- event -->
      <div class="event-title row p-4" v-if="eventType == 0">
        <div class="col text-center">== Evenement de route #{{ eventId }} ==</div>
      </div>
      <div class="event-title row m-4" v-if="eventType == 1">
        <div class="col text-center">== Evenement de Ville #{{ eventId }} ==</div>
      </div>
      <div v-if="mevent" class="event-text row p-3">
        <div class="col">{{ mevent.text }}</div>
      </div>
      <!-- event-options -->
      <div class="event-options row p-3">
        <div class="event-option col">
          <p class="event-option-texte">{{mevent.option_a}}</p>
          <button
            class="btn btn-outline-secondary"
            type="button"
            v-on:click="setOption('A')"
          >
            A
          </button>
        </div>
        <div class="event-option col">
          <p class="event-option-texte">{{mevent.option_b}}</p>
          <button
            class="btn btn-outline-secondary"
            type="button"
            v-on:click="setOption('B')"
          >
            B
          </button>
        </div>
      </div>
      <!-- event-options -->
      <!-- event-resolution -->
      <div class="row">
        <div class="event-resolution col p-3">
          <div v-if="option === 'A'">{{ mevent.resolution_a }}</div>
          <div v-if="option === 'B'">{{ mevent.resolution_b }}</div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/gloom.js"></script>
  </body>
</html>
