digraph A{
{% for scenario in party.scenarios.values() -%}
    {% if all %}
      {% if scenario.visited %}
            {{scenario.id}} [color="green"]
      {% elif not party.can_visit(scenario.id) %}
            {{scenario.id}} [color="red", fillcolor="red"]
      {% endif %}
     {% for location in scenario.locations -%}
        {{scenario.id }} -> {{location}}
     {% endfor %}
    {% else %} {# if all %#}
      {% if scenario.visited %}

            {{scenario.id}} [color="green"]
       {% for location in scenario.locations -%}
          {{scenario.id }} -> {{location}}
          {% if not party.can_visit(location) %}
                {{location}} [color="red", fillcolor="red"]
          {% endif %}
       {% endfor %}
      {% endif %} {# if scenario.visited #}
    {% endif %}
{%- endfor %}
}
